CompileFlags:
  Add: [-Wno-documentation, -Wno-missing-prototypes]

Diagnostics:
  ClangTidy:
    Add: [
        performance-*,
        bugprone-*,
        clang-analyzer-*,
        # readability-identifier*,
        # modernize-*,
      ]
    CheckOptions:
      readability-identifier-naming.VariableCase: camelCase

  Suppress: [-Wdeprecated-declarations]
